/*--------- demo1.styl --------*/
.demo1, .info-conditional
	padding 60px
	border-top 1px solid #fff
.info-conditional
	span
		line-height 50px
.about-state
	padding 30px 40px
	span
		margin-right 10px
p
	padding 40px
	margin 0